body{
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.line{
    width:60px;
    background-color:black;
    margin:8px auto;
  height:6px;
  }
  
  #apps{
      background-color:plum;
  }
  #chatie{
      background-color: paleturquoise;
  }
  #games{
      background-color: thistle;
  }
  
  #myCarousel{
      background-color: cornflowerblue;
  }
  #myCarousel img{
      height:300px;
      margin-top:35px;
  }
  .carousel-inner p{
      margin-bottom:15px;
      margin-top:15px;
      color:white;
      font-size:23px;
  }